.viewer-panel{
  display: inline-block;
  width: 40%;
}
.spacer-panel{
  display: inline-block;
  width: 2%;
}
.form-panel{
  display: inline-block;
  width: 58%;
  overflow-y: scroll;
  height: 400px;
  background: white;
}
.qa-task-error{
  color: red;
  font-weight: bold;
  font-size: 120%;
}
